{% extends 'base.html' %}

{% block content %}
<div class="login">
        
        <form action="/changepassword" method="post">
            <div class="card">
            <div class="card-header" style="text-align:center">
                <p>Change Password</p>
            </div>
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{message}}
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="form-group">
                    <label for="username">Present-Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">New-Password</label>
                    <input type="password" name="new-password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Confirmation-Password</label>
                    <input type="password" name="confirmation-password" class="form-control">
                </div>
                <button class="btn btn-primary" style="display:block; width:100%">submit</button>
            </div>
        </div>
        </form>
    </div>   
{% endblock %}