<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <a class="navbar-brand" href="#">Nodues</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  {% if current_user.is_admin %}
      <div style="padding-left: 30px">
          <form class="form-inline my-2 my-lg-0" action="{{url_for('nodues.get_status')}}">
            <input class="form-control mr-sm-2" type="search" placeholder="Enter roll number" aria-label="Search" name="roll_no">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
  {% endif %}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{url_for('users.profile')}}">Profile</a>
          <a class="dropdown-item" href="{{url_for('users.changepassword')}}">Change Password</a>
          <a class="dropdown-item" href="{{url_for('users.logout')}}">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>